<header class="mb-4">
    <div class="top-row w-100">
       <div class="container-xl ">
        <div class="row pt-4 pb-4">
            <div class="col-md-8">
                <div class="branding d-flex align-items-center">
                    <img src="./assets/img/ETS-Logo-navy.svg" /> <h1>Program&reg; Application</h1>
                </div>
            </div>
            <div class="col-md-4">
                  <div class="user d-flex align-items-center">
                      <div class="help">
                          <button class="header"><span class="icon"></span> Help</button>
                      </div>
                      <div class="sign-in">
                          <button class="header"><span class="icon"></span> Sign In</button>
                      </div>
                  </div>
              </div>
        </div>
       </div>
  
    </div>
  
        <nav class="navbar navbar-expand-lg container-xl">
        
          
          </nav>
        <div class="bread-crumb"></div>
  
   
  </header>