
.form-label{
    width:100%;
}

.btn-default{
    background-color:#3072be;
    color: #fff;
}
.btn-default:hover{
    background-color:#204875;
    color: #fff;
}

.select-date{
    margin-top: 26px;
}