.credit-card{
    margin-right:15px;
}
.credit-card img{
    width: 60px;
}
.credit-card2 img{
    width:120px;
    margin-top: 7px;
}
.accepted{
        font-family:'Open Sans', sans-serif;
    display: inline-block;
    position: relative;
}
.accepted:after {
    margin-top: 12px;
    background: #000;
    content: "";
    position: absolute;
    height: 1px;
    top: 0;
    width: 90%;
    max-width:645px;
}
.credit-card-container{
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
}
.apc-margin-top{
margin-top:80px;
}
@media (max-width: 992px) { 
    .accepted:after {
        max-width:500px;
    }
 }

 @media (max-width: 768px) { 
    .accepted:after {
        max-width:530px;
    }
 }

 @media (max-width: 576px) { 
    .accepted{
        text-align:center;
    }
    .accepted:after {
       display:none;
    }
    .credit-card-container{
        margin-left: 0;
        margin-right: 0;
        display: block;
        justify-content: flex-start;
        align-self: flex-end;
    }
    .credit-card{
        float: left;
        width: 71px;
    }
    .btn-primary {
        color: #003082;
        background-color: #fff;
        border-radius: 16px;
        border: 2px solid #003082;
        margin-right: 0;
        font-size: 15px;
        padding: 10px 0;
        width: 100%;
        margin-bottom: 1em;
        padding: .25;
        font-family: 'Open Sans', sans-serif;
    }
    .select-payment-title h3{
        margin-top: 2em;
        margin-bottom: 1em;
        font-size: 1.5em;
        font-weight: 400;
        color: #003356;
    }
 }