<div class="row">
    <div class="col-lg-12">
        <div class="card nav">
            <div class="card-body">
                <ul class="list-inline">
                    <li class="list-inline-item"><a pageScroll href="#order-details">Order Details</a></li>
                    <li class="list-inline-item"><a pageScroll href="#line-details">Line Item Summary & Details</a></li>
                    <li class="list-inline-item"><a pageScroll href="#transaction-details">Transaction Details</a></li>
                    <li class="list-inline-item"><a pageScroll href="#related-orders">Related Orders</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>