.nav{
    padding: .5em 0;
    box-shadow: (4px 4px 4px 4px #ddd);
    margin-bottom: 20px;
    ul{
        margin-bottom: 0;
        li{
            margin-right: 3em;
            a{
                text-decoration: underline;
                font-weight: 600;
            }
        }
    }
    .card-body{
        padding: 0 1em;
    }
}