
.light-blue{
    background-color:rgba(229, 245, 252, 1); 
}
.card-footer{
    background-color:rgba(0, 51, 86, 1);
    color: #fff;
}


.rounded-card{
    border-top: #003082 6px solid;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 4px  #ddd);
}

.amount{
    width: auto;
}

    .total-number{
        font-size: 1.25em;
        font-family: 'Open Sans', sans-serif;
    }