<div class="light-blue rounded-card">
                <div class="card-body">
                        <div class="row">
                                <div class="col-lg-6 col-sm-12">

                                        <h2>Order Total</h2>
                                </div>


                                <div class="col-lg-6 col-sm-12 justify-content-end total-number align-items-center text-right">
                                        <div class="one-twenty">Amount (USD)</div>
                                  <div class="amount"><strong>${{orderData?.amount | number : '1.2-2'}}</strong></div>
                                </div>

                        </div>




                </div>
        </div>

