
.nav-link {
    font-weight: bold;
    color: rebeccapurple !important;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto:400,400i,700,700i,900,900i&display=swap');
body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #f7f7f7;
}


strong {
    font-style: bold;
}

header {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fff;
}

.brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900 i;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: #007c92;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

h2.tag {
    font-size: 1.2em;
    line-height: 1.625;
    color: #666;
    font-style: italic;

}

.table-data3 thead {
    background: #333;
}

.table-data3 thead tr th {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    padding: 18px 40px;
}

.rawScore {
    font-size: 2em;
    display: block;
    margin: 0 auto;
    border: 4px solid #999;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    color: #007c92;
}

a:hover {
    color: #003B46;
    text-decoration: none;
}

button {
    transform: all .2s;
}

button:hover {
    background-color: #003B46;

}

.btn-secondary {
    background-color: #007c92 !important;
    color: #fff;
    border: none;
    border-radius: 20px !important;
    padding: 5px 15px;
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #003B46;
}

body {
    font-family: 'Red Hat Text', sans-serif;
}

.demo {
    width: 100%
}

ul.start {
    max-width: 100%;
    height: 20px;
    padding: 2em;
    margin: 10px;
    color: #dcdada;
    list-style: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;

}

ul.end {
    min-width: 100px;
    min-height: 100px;
    padding: 1px 0;
    margin: 20px;
    color: #ddd;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


ul li {
    cursor: pointer;
}

li button {
    width: auto;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    background: linear-gradient(180deg, rgba(1, 144, 118, 1) 0%, rgba(71, 0, 224, 1) 100%);
}

button.feedback {
    width: auto;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    background: rebeccapurple;
}


ul li a {
    color: #fff;
    display: block;
    text-decoration: none;

}

.table-bordered td {
    font-size: 1.2em;
}

span.match-word {
    border-radius: 5px;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    background: rgb(18, 200, 20);
    background: linear-gradient(180deg, rgba(20, 113, 199, 1) 0%, rgba(183, 0, 224, 1) 100%);
    min-width: 100px;
    padding: 1em;
}


span.equal {
    font-size: 30px;
    margin-left: 20px;
}


#droppable {
    background: #fff;
    border: 2px dashed #999;
}


.done {
    padding: 0;
    background-color: white !important;
}

.answer {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

}

.end:hover {
    box-shadow: 0px 0px 8px #00fffc;

}

.unselected {
    display: none;
}

.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    min-width: 100px;
    height: 100px;
    color: #fff !important;
    font-size: 20px;
    background: linear-gradient(180deg, rgba(1, 144, 118, 1) 0%, rgba(71, 0, 224, 1) 100%);
    border-radius: 5px;
    padding: 0 10px;
}


.inbox {
    opacity: .5;
    background: #333;
    color: #eae3e3;
}

.from-them {
    background: rgb(71, 0, 224);
    background: linear-gradient(180deg, rgba(71, 0, 224, 1) 0%, rgba(1, 144, 118, 1) 100%);
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 400px;
    padding: 15px;
    position: relative;
    color: #fff;
}

.from-them:before {
    border-right: 20px solid transparent;
    border-top: 20px solid #019076;
    bottom: -20px;
    content: "";
    position: absolute;
    left: 20px;
}

.from-me {
    background: linear-gradient(180deg, rgba(20, 113, 199, 1) 0%, rgba(183, 0, 224, 1) 100%);
    -webkit-border-radius: 4px;
    border-radius: 15px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 400px;
    padding: 15px;
    position: relative;
    color: white;
}

.from-me:after {
    border-left: 20px solid transparent;
    border-top: 20px solid #b700e0;
    bottom: -20px;
    content: "";
    position: absolute;
    right: 20px;
}

.clear {
    clear: both;
}

section div {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 20px;
    line-height: 24px;
}

.iphone {
    max-width: 280px;
    margin: 50px auto 0 auto;
    background: #fff;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
}

.iphone-body {
    margin: 20px auto 100px auto;
    display: block;
    width: 320px;
    height: 600px;
    background-color: #000;
    padding: 30px 10px;
    border-radius: 25px;
    overflow-y: scroll;

}

.word-selection {
    width: 300px;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    float: left;
}

.word-selection button {
    background: transparent;
    border: 2px solid #999;
    border-radius: 15px;
    margin-bottom: 10px;
}

.word-selection button:hover {
    opacity: .75;
}

.iphone-button {
    width: 50px;
    height: 50px;
    border: 4px solid #ddd;
    border-radius: 100px;
    margin: 40px auto;
}

.hidden-field1 {
    height: 18px;
    width: auto;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-right: 3px
}

span.missing {
    background: lightskyblue;
    height: 45px;
    display: inline-block;
    letter-spacing: .25rem;
    padding-left: .2rem;
}

.form-control {
    display: inline;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    float: left;
    margin-right: 3px;
    margin-bottom: 5px;
}

span.form-control2:hover {
    opacity: .75;
    cursor: pointer;
}

.form-control2 {
    display: inline-block;
    min-width: 20px;
    height: 30px;
    padding: 0;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border-bottom: 2px solid #ced4da;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    margin-right: 3px;
}

.display-none {
    display: none;
}

.display-block {
    display: inline;
}

p.phone-sentence {
    text-align: left;
    margin-bottom: 0;
}

p.missing-letters {
    font-size: 1.5rem;
    text-align: left;
    line-height: 2;
}

.ready-word {
    width: auto;
}

.new {
    display: inline;
    width: auto;
    height: auto;
    padding: 0em;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #000;
    background-color: lightskyblue !important;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 18px;
    border-radius: 0;
    margin-left: .15em;
}

.finished {
    background-color: transparent !important;
    text-align: left;
    border-bottom: none;
    margin-left: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

svg.girl {
    width: 100px;
    float: right;
}

svg.boy {
    width: 100px;
    float: left;
}

p.missing-letters {
    font-size: 1.5rem;
    text-align: left;
    line-height: 2;
}

.ready-word {
    width: auto;
}

.new {
    display: inline;
    width: auto;
    height: auto;
    padding: 0em;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #000;
    background-color: lightskyblue !important;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 18px;
    border-radius: 0;
    margin-left: .15em;
}

.finished {
    background-color: transparent !important;
    text-align: left;
    border-bottom: none;
    margin-left: 0;
}

img {
    width: inherit !important;
}

.boy {
    width: 100px;
}


.dropdown-item {
    color: #666;
}

.banner {
    background: linear-gradient(
            rgba(0, 124, 146, 0.5),
            rgba(0, 124, 146, 090)
    ),
    url('../static/img/cooperation-coworking-day-1543895.jpg') center;
    height: 70vh;
    background-size: cover;
}

.image-support {
    width: 500px;
    height: 300px;
    display: block;
    background-image: url('../static/img/iStock-990711292.jpg');
    background-size: cover;
    float: right;
    margin: 0 0 25px 25px;
    border-radius: 20px 0;
    border: 6px solid #f3f3f3;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-what-is-elc {
    width: 500px;
    height: 300px;
    display: block;
    background-image: url('../static/img/indian-student.jpg');
    background-size: cover;
    float: right;
    margin: 0 0 25px 25px;
    border-radius: 20px 0;
    border: 6px solid #f3f3f3;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-test {
    width: 500px;
    height: 300px;
    display: block;
    background-image: url('../static/img/paper-test.jpg');
    background-size: cover;
    float: left;
    margin: 0 25px 25px 0;
    border-radius: 0 20px;
    border: 6px solid #f3f3f3;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1.home-text {
    color: #fff;
    font-size: 3.5em;
}

.home-text {
    color: #fff;
}

.wechat {
    background-color: rebeccapurple !important;
}

.wechat-logo, .qr-code {
    width: 100px !important;
    display: block;
    margin: 30px auto;
}


.btn-home-top {
    background-color: rebeccapurple !important;
}

.btn-home-top:hover{
    background-color:#4E2775 !important;
   
}

footer {
    height: 100px;
    background-color: #333;

}

footer a.nav-link {

    color: #fff;
}

footer a:hover {

    color: rgb(41, 139, 154);
}

.copyright {
    color: #fff;
    font-size: .85em;
}

svg {
    height: 100px;
    width: 80px;
    display: block;
}

.bodyelc{
  margin-top: 20px;
  min-height: calc(100vh - 230px);
}

.thead-dark {
    background-color: #eaeaea;
    font-size: .85em;
}

.results {
    height: 250px;
}

.score {
    width: 100%;
}

thead th {
    background-color: rebeccapurple;
    color: #fff;
}

.dropdown-item:hover {
    color: rebeccapurple !important;
}

.dropdown-item:active {
    background-color: #d5e6da;
}

.track {
    background: #007c92;
    width: 100%;
    min-height: 100vh;
    padding: 4em;
}

.wrapper {
    margin-top: 100px;
    min-height: 100vh;
}

.square {
    width: 300px;
    height: 300px;
    border: 1px #fff solid;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    margin: .5%;
    float: left;
    transition: all .2s ease-in-out;
    background-color: none;
}

.square:hover {
    width: 600px;
    height: 310px;
    font-size: 1.65em;
    background-color: #003B46;

}

.squareLink {
    margin: 1%;
}

.disabled {
    width: 300px;
    height: 300px;
    border: 1px #fff dotted;
    border-radius: 10px;
    color: rgba(255, 255, 255, .5);
    font-size: 1.5em;
    margin: .5%;
    float: left;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: rgba(255, 255, 255, .0);
}

.disabled svg {
    opacity: .5;
}

.track .container {
    max-width: 660px;
    margin-top: 0;
}

.popup {
    position: fixed;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.85);
}

.comments {
  position: fixed;
  z-index: 9999999;
  width: 60%;
  height: auto;
  top: 3%;
  right: -60%;
  background-color: rgba(255,255,255, 0.95);
  transition: all .25s ease-in-out;
}

.comment-btn {
    position: relative;
    right: 65px;
    top: 280px;
    transform: rotate(-90deg);
    font-weight: bold;
    padding: 4px 10px;
    background-color: rebeccapurple;
    border-radius: 5px 5px 0 0;
    color: #fff;
    box-shadow: 0px 4px 24px 4px rgba(0, 0, 0, 0.25);
}


.comment-btn:hover {
    background-color: #000;
}

.activeShow {
    right: 0%;
}

.popup\_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
}

.hide {
    display: none;
}

h1.overlay, .white {
    color: #fff;
}


ol {
    margin-top: 1em;
}


ol li{
  margin-bottom: .5em;
}

#msform, #msform2 {
	margin: 50px auto;
	position: relative;
}

#msform fieldset, #msform2 fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}



#msform .inactive , #msform2 .inactive {
	display: none;
}


#msform input, #msform textarea,  #msform2 input, #msform2 textarea{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}

#progressbar {
	margin-bottom: 30px;
  overflow: hidden;
  padding-left: 0;
}
#progressbar li {
	list-style-type: none;
  width: auto;
  padding: 10px 20px;
  color: #fff;
	float: left;
  position: relative;
  display: block;
  background-color: rebeccapurple;
  margin: 10px 5px;
  border-radius: 25px;
}


/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active{
	background: #27AE60;
	color: white;
}


span.comments{
  font-weight: bold;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  display: block;
}

.inactive-field{
  display: none;
}

#progressbar li:hover{
  background-color: #007c92;
}

.insidepop{
  margin-top: 100px;
}

.login{
    background-color: rebeccapurple;
    color: #fff;
}

.login a{
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

.warning path{
    fill: #007c92;
}


.test-day{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
}


.desktop{
    display: block;
}

.mobile{
    display: none;
}
 .card {
    width: 100% !important;
    margin-bottom: 2em !important;
  }
.testing-req{
    padding: 1em;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 1em;
    background-color: #fff;
    height: 55px;
}

.head-btn{
    margin-bottom: 2em;
}

.hidden-1, .hidden-2, .hidden-3, .hidden-4, .hidden-5, .hidden-6{
    max-height: 0px;
    overflow: hidden;
    transition: all .25s ease-in-out;

}

.testing-req:hover{
    background-color:  #e6e6e6;
    cursor: crosshair;
}

.opened{
    max-height: 1000px;
}

.open-plus{
    width: 25px !important;
}

.icon, .icon2, .icon3, .icon4, .icon5, .icon6{
    transform: rotate(0deg);
    transition: all .15s ease-in-out;
    margin-top: -3px;
}

.active{
    transform: rotate(45deg);
}

.warning{
    padding: 2em;
    background-color: #e5e5e5;
    border-radius: 5px;
    color: red;
}

@media (max-width: 768px) {
    .desktop{
        display:none;
    }

    .mobile{
        display: block;
    }
    .testing-req {
        height: 112px;
    }
}