.container-fluid{
    max-width: 1280px;
}
.title{
    background-color: rgba(242, 242, 242, 1);
    color: rgba(48, 114, 190, 1);
  
}

.form-controls {
    margin-top: 0px;
    margin-bottom: 10px;
}