h1{
    font-size: 1.5rem;
}

.branding img{
width:66px;
}


.branding .title{
    margin-left: 20px;
}


.navbar-nav li.active > a {
    background-color: rgba(0, 51, 86, 0.0980392156862745);
}

.navbar-nav li a{
    padding: 1rem 1rem;
}

.no-padding-top{
    padding: 0rem 1rem;
}

.navbar-fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-light{
    background-color:#fff;
}