<form [formGroup]="refund">
    <div class="form-group">
        <label for="amount"><span class="required-asterisk">*</span> Amount</label>
        <input class="form-control" formControlName="amount" />
    </div>
    <div class="form-group">
        <label for="amount"><span class="required-asterisk">*</span> Program Specific Key</label>
        <p>{{programKey}}</p>
    </div>
    <div class="form-group">
        <label for="amount"><span class="required-asterisk">*</span> Billing Statement Text</label>
        <input class="form-control" formControlName="amount" />
    </div>
</form>