<footer class="pt-4 pb-4">
        <div class="container-fluid">
            <div class="mb-2">
                        <ul>
                                        <li><a href="https://www.ets.org/legal">Legal</a></li>
                                        <li><a href="https://www.ets.org/legal/privacy">Privacy and Security</a></li>
                                        <li><a href="https://www.ets.org/legal/trademarks/owned">ETS Trademarks</a></li>
                                 </ul>
            </div>
            
            <small>Copyright &copy; 2021 by Educational Testing Service. All rights reserved.<br/>
                All trademarks are the property of their respective owners.</small>
            </div>
    </footer>
    