<header class="ets-header">
    <div class="navbar navbar-dark navbar-expanded ets-main-banner">
        <div class="container-fluid">
                <div class="navbar-brand d-flex align-items-center">
                  
                    <img class="navbar-logo" src="../../assets/img/ETS_header_logo_medium.png" alt="ETS Logo"/>
                        <span class="navbar-title">EPMS Checkout</span>
            
                </div>
                <nav role="navigation" id="access-links" class="access-links" aria-label="quick links">
                    <a pageScroll href="#main-content">skip to contents</a>
                </nav>
        </div>
    </div>

</header>